ssl/
docker-compose.yml
.env
zigbee2mqtt-data/devices.yaml
zigbee2mqtt-data/database.db
frigate/config/frigate.db*
frigate/config/.jwt_secret
frigate/config/model_cache/
frigate/config/backup*
frigate/config/.exports
frigate/config/.search_stats.json
frigate/config/.timeline
frigate/config/.vacuum
zigbee2mqtt-data/
event-queue/packages/
event-queue/__pycache__/
frigate/config/.exports
frigate/config/.search_stats.json
frigate/config/.timeline
frigate/config/.vacuum
zigbee2mqtt-data/
__pycache__/
*.pyc
*.so
